In [29]:
import pandas as pd
import numpy as np

In [88]:
df = pd.read_csv("data/2008.csv")

Variable descriptions
Name	Description
1	Year	1987-2008
2	Month	1-12
3	DayofMonth	1-31
4	DayOfWeek	1 (Monday) - 7 (Sunday)
5	DepTime	actual departure time (local, hhmm)
6	CRSDepTime	scheduled departure time (local, hhmm)
7	ArrTime	actual arrival time (local, hhmm)
8	CRSArrTime	scheduled arrival time (local, hhmm)
9	UniqueCarrier	unique carrier code
10	FlightNum	flight number
11	TailNum	plane tail number
12	ActualElapsedTime	in minutes
13	CRSElapsedTime	in minutes
14	AirTime	in minutes
15	ArrDelay	arrival delay, in minutes
16	DepDelay	departure delay, in minutes
17	Origin	origin IATA airport code
18	Dest	destination IATA airport code
19	Distance	in miles
20	TaxiIn	taxi in time, in minutes
21	TaxiOut	taxi out time in minutes
22	Cancelled	was the flight cancelled?
23	CancellationCode	reason for cancellation (A = carrier, B = weather, C = NAS, D = security)
24	Diverted	1 = yes, 0 = no
25	CarrierDelay	in minutes
26	WeatherDelay	in minutes
27	NASDelay	in minutes
28	SecurityDelay	in minutes
29	LateAircraftDelay	in minutes

In [89]:
np.sort(df['DayofMonth'].unique())

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [90]:
dfa = pd.read_csv("data/airline_codes.csv")
dfa[dfa.code == 'MQ']['flight']

657    American Eagle Airlines
Name: flight, dtype: object

In [91]:
import datetime

df = df.sort(['Month'], ascending=[1])
df['Month'] = df['Month'].apply(lambda x: datetime.date(2008, x, 1).strftime('%b-%y'))
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,Jan-08,3,4,2003,1955,2211,2225,WN,335,...,4,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN
403840,2008,Jan-08,3,4,1146,1130,1233,1220,MQ,4061,...,3,12,0,NaN,0,NaN,NaN,NaN,NaN,NaN
403841,2008,Jan-08,4,5,1152,1130,1250,1220,MQ,4061,...,2,26,0,NaN,0,22,0,8,0,0
403842,2008,Jan-08,5,6,1132,1130,1243,1220,MQ,4061,...,3,34,0,NaN,0,0,0,23,0,0
403843,2008,Jan-08,6,7,NaN,1130,NaN,1220,MQ,4061,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandasql

delays_sql = """
    select Month, SUM(DepDelay) As DepDelay, (sum(DepDelay) + sum(ArrDelay) + sum(LateAircraftDelay) + 
            sum(NASDelay) + sum(WeatherDelay) + sum(CarrierDelay)) as delays
    from df
    group by Month
    """

month = pandasql.sqldf(delays_sql.lower(), locals())
month

In [20]:
delays = df.groupby(['Month'])['DepDelay', 'ArrDelay', 
                                       'LateAircraftDelay', 
                                       'SecurityDelay', 
                                       'NASDelay',
                                       'WeatherDelay',
                                       'CarrierDelay'].mean()

delays.to_csv('data/2008delays.csv')

In [6]:
df.to_csv('data/2008.tsv', sep='\t')

In [7]:
df['DayofMonth'].unique()

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,  2,  1])

In [8]:
delays_airport = df.groupby(['Origin'])['DepDelay', 'ArrDelay', 
                                       'LateAircraftDelay', 
                                       'SecurityDelay', 
                                       'NASDelay',
                                       'WeatherDelay',
                                       'CarrierDelay'].mean()

delays_airport.fillna(0)

delays_airport = delays_airport.sort(['DepDelay'], ascending=False)

delays_airport.head(1000)

,DepDelay,ArrDelay,LateAircraftDelay,SecurityDelay,NASDelay,WeatherDelay,CarrierDelay
Origin,,,,,,,
ACK,29.854415,28.603819,24.432099,0.000000,32.993827,7.567901,19.228395
PUB,27.000000,74.000000,0.000000,0.000000,47.000000,27.000000,0.000000
CEC,24.186207,24.670949,23.938303,0.000000,41.226221,2.017995,11.123393
PIR,22.800000,23.800000,0.000000,0.000000,19.000000,0.000000,99.000000
SPI,22.314516,21.950673,24.331361,0.236686,49.000000,0.742604,19.899408
AKN,21.938596,22.044643,28.132075,1.660377,3.056604,0.000000,12.849057
OTH,21.765531,26.381048,30.106280,0.033816,29.811594,0.792271,3.603865
LMT,20.046559,20.323770,24.181818,0.000000,37.707792,1.798701,15.818182
ACY,18.548673,5.410714,0.000000,0.000000,66.428571,0.000000,75.928571
EWR,18.285081,17.083391,25.195321,0.085896,19.211841,2.643168,16.150571
ORD,17.291271,15.887490,27.702352,0.023025,15.179035,4.009908,17.028237
CIC,17.157740,16.750000,43.044379,0.221893,27.997041,0.778107,8.852071
EGE,16.519732,16.290977,30.926988,0.013038,25.421121,11.790091,22.426336
DLG,16.495495,16.171171,21.545455,8.036364,2.618182,0.000000,4.509091
BRW,16.331927,12.490832,36.088496,4.946903,2.252212,2.884956,5.097345
RDD,16.140768,14.962782,20.123223,0.511848,50.715640,0.526066,5.087678
MIA,15.881970,15.064988,16.946809,0.048727,16.037409,4.060683,21.867793
TEX,15.856209,20.379085,0.000000,0.000000,17.910714,1.839286,40.553571
SBN,15.399239,12.451224,17.459638,0.059308,27.775947,5.265239,26.475288
ACV,15.202119,14.862146,20.975956,0.009836,39.244809,2.559563,11.318033
EYW,15.173212,16.870672,10.356923,0.030769,12.473846,13.532308,22.264615
HHH,14.930643,12.233881,13.045198,0.175141,19.039548,16.062147,34.169492
STX,14.791667,16.021176,31.450704,0.084507,9.535211,1.225352,8.478873
JNU,13.803717,11.374414,34.822551,0.097043,6.628466,2.682994,18.638632
ADK,13.652174,4.532609,35.652174,0.000000,2.217391,0.000000,7.260870
IAD,13.636258,12.786159,16.125018,0.177901,18.527155,3.216013,26.493377
PSG,13.545845,9.182216,49.467066,0.251497,4.748503,2.077844,8.419162
GUC,13.531148,14.224289,29.808889,0.204444,12.680000,14.133333,24.417778
SFO,13.379122,10.620574,28.893247,0.037752,9.920651,1.357779,19.619414
MOD,13.371594,12.026858,26.840000,0.180952,29.739048,0.809524,8.523810
...,...,...,...,...,...,...,...
SMX,1.602914,-1.868245,23.130952,0.321429,8.172619,0.297619,21.059524
FCA,1.399416,1.091408,17.265823,0.344937,19.990506,4.373418,20.857595
CPR,1.185864,-3.299251,21.418462,0.138462,11.384615,4.298462,16.046154
YKM,1.145401,5.445104,11.842105,0.000000,4.684211,2.394737,10.368421
MSO,1.084158,-0.771234,24.814404,0.063712,14.559557,0.839335,8.459834
BIL,0.744400,0.056790,26.739669,0.148760,11.729339,4.051653,12.417355
LWS,0.696923,-3.714065,25.045455,0.704545,8.840909,11.477273,19.181818
TWF,0.434856,-2.553420,26.927083,0.026042,3.911458,21.645833,10.276042
BPT,0.350195,-2.474708,0.000000,0.000000,10.588235,18.588235,42.588235
EKO,0.049581,1.608134,25.120000,1.393333,6.400000,0.393333,15.680000
PSE,0.042953,-1.583558,44.012346,0.864198,9.987654,1.271605,5.888889
LIH,0.003746,1.695729,21.307456,0.066872,5.966180,0.905457,20.471176
ITO,-0.149944,2.541750,14.663772,0.114144,3.936725,1.250620,24.053350
SGU,-0.151903,-1.517863,21.428571,0.146617,6.676692,3.680451,17.917293
GTF,-0.499293,-3.739480,27.817734,0.000000,12.384236,0.753695,14.266010
PSC,-0.524322,-2.531312,27.718593,0.185930,9.879397,2.849246,10.371859
CDC,-0.701220,0.730183,36.084507,0.000000,5.774648,0.408451,16.577465
HTS,-1.141935,-7.838710,0.000000,0.000000,11.454545,16.909091,25.818182
SUN,-1.231341,-2.913787,18.034632,0.138528,7.419913,9.727273,16.437229
OXR,-1.827044,-3.132179,18.863158,0.000000,7.305263,3.052632,15.000000
IYK,-1.911572,-3.050383,20.843750,0.500000,8.000000,3.921875,25.093750
IPL,-2.315897,-0.880903,16.339286,0.839286,5.107143,3.169643,14.750000
BJI,-2.698630,-3.671233,7.833333,0.000000,56.000000,0.000000,0.000000
BTM,-2.878261,-2.582609,25.745098,0.333333,11.215686,8.627451,2.352941
TUP,-3.800000,-1.800000,0.000000,0.000000,26.000000,0.000000,0.000000
COD,-3.973549,-7.755764,27.488095,0.773810,15.761905,8.714286,11.797619
PIH,-4.150092,-6.556777,31.906250,0.041667,6.083333,7.312500,9.375000
INL,-4.802817,-6.056338,0.000000,0.000000,0.000000,0.000000,15.000000
BLI,-5.529412,-12.042017,0.000000,0.000000,6.250000,34.750000,13.500000
WYS,-6.155894,-11.167300,51.666667,0.000000,1.000000,0.000000,0.000000

In [10]:
delays_airport.to_csv('data/2008delays_air.tsv', sep = "\t")

# Data for Chord

In [29]:
import pandasql

delays_sql = """
    select Origin, 
           Dest, 
           (avg(DepDelay) + avg(ArrDelay) + avg(LateAircraftDelay) + 
            avg(NASDelay) + avg(WeatherDelay) + avg(CarrierDelay)) as delays
    from df
    group by Origin, Dest
    """

orig_dest_delay = pandasql.sqldf(delays_sql.lower(), locals())

orig_dest_delay['delays'] = orig_dest_delay['delays'].fillna(0)

#orig_dest_delay = orig_dest_delay.sort(['delays'], ascending=0)
orig_dest_delay.head()

  Origin Dest     delays
0    ABE  ATL  91.610286
1    ABE  BHM   0.000000
2    ABE  CLE  42.970444
3    ABE  CLT  35.327595
4    ABE  CVG  38.452412

In [101]:
#https://en.wikipedia.org/wiki/List_of_the_busiest_airports_in_the_United_States
#airports = ['ATL', 'LAX', 'ORD', 'DFW', 'JFK', 'DEN', 'SFO',
#            'CLT', 'LAS', 'PHX', 'IAH', 'MIA', 'SEA', 'EWR',
#            'MCO', 'MSP', 'DTW', 'BOS', 'PHL', 'LGA']

airports = df['Origin'].unique()
airports

array(['IAD', 'IND', 'ISP', 'JAN', 'JAX', 'LAS', 'LAX', 'LBB', 'LIT',
       'MAF', 'MCI', 'MCO', 'MDW', 'MHT', 'MSY', 'OAK', 'OKC', 'OMA',
       'ONT', 'ORF', 'PBI', 'PDX', 'PHL', 'PHX', 'PIT', 'PVD', 'RDU',
       'RNO', 'RSW', 'SAN', 'SAT', 'SDF', 'SEA', 'SFO', 'SJC', 'SLC',
       'SMF', 'SNA', 'STL', 'TPA', 'TUL', 'TUS', 'ABQ', 'ALB', 'AMA',
       'AUS', 'BDL', 'BHM', 'BNA', 'BOI', 'BUF', 'BUR', 'BWI', 'CLE',
       'CMH', 'CRP', 'DAL', 'DEN', 'DTW', 'ELP', 'FLL', 'GEG', 'HOU',
       'HRL', 'ROC', 'DAY', 'ORD', 'EWR', 'SYR', 'IAH', 'LFT', 'MKE',
       'CHS', 'LCH', 'CLT', 'BTR', 'CRW', 'FAT', 'COS', 'MRY', 'LGB',
       'BFL', 'EUG', 'ICT', 'MEM', 'LGA', 'DCA', 'BTV', 'GRK', 'BRO',
       'TYS', 'DSM', 'BPT', 'GPT', 'GRR', 'PWM', 'MSP', 'RIC', 'CVG',
       'SAV', 'SRQ', 'GSO', 'CHA', 'XNA', 'GSP', 'LEX', 'MFE', 'ABE',
       'MLU', 'MOB', 'LRD', 'SHV', 'TLH', 'CAE', 'AEX', 'ATL', 'DFW',
       'BGR', 'AVL', 'BOS', 'MSN', 'HSV', 'MGM', 'MYR', 'VPS', 'CLL',
       'PNS', 'MTJ', 'DAB', 'PSP', 'ASE', 'ATW', 'AVP', 'BMI', 'CAK',
       'CID', 'CLD', 'COD', 'CPR', 'CWA', 'DRO', 'EGE', 'FLG', 'FSD',
       'FWA', 'GJT', 'GRB', 'HDN', 'HNL', 'ILM', 'ITO', 'JFK', 'KOA',
       'LAN', 'LIH', 'MBS', 'MDT', 'MFR', 'OGG', 'RAP', 'ROA', 'SBA',
       'SBN', 'SBP', 'SPI', 'TEX', 'YUM', 'TVC', 'HPN', 'MIA', 'MLB',
       'SGF', 'TRI', 'ACY', 'TWF', 'SUN', 'PIH', 'EKO', 'SGU', 'PSC',
       'BTM', 'SLE', 'IDA', 'HLN', 'FCA', 'MSO', 'GTF', 'LWS', 'YKM',
       'BZN', 'BIL', 'RDM', 'FAR', 'JAC', 'IYK', 'SMX', 'ACV', 'OXR',
       'RDD', 'CEC', 'MOD', 'CIC', 'IPL', 'PIA', 'MLI', 'GUC', 'AZO',
       'LNK', 'PMD', 'BIS', 'RFD', 'BLI', 'CDC', 'SJU', 'STT', 'ANC',
       'STX', 'PHF', 'DHN', 'PFN', 'TOL', 'AGS', 'FAY', 'HHH', 'EVV',
       'GNV', 'ABY', 'FNT', 'OAJ', 'BQK', 'SWF', 'EWN', 'MEI', 'GTR',
       'LYH', 'FSM', 'EYW', 'VLD', 'CSG', 'MCN', 'CHO', 'TUP', 'FLO',
       'SCE', 'TYR', 'LAW', 'SPS', 'ABI', 'GGG', 'ACT', 'SJT', 'TXK',
       'CMI', 'ROW', 'RST', 'MQT', 'LSE', 'DBQ', 'GFK', 'MOT', 'DLH',
       'SUX', 'PLN', 'BGM', 'ERI', 'ALO', 'CMX', 'RHI', 'ELM', 'JNU',
       'KTN', 'ADQ', 'FAI', 'SIT', 'PSG', 'WRG', 'SCC', 'BET', 'CDV',
       'OME', 'YAK', 'BRW', 'OTZ', 'ADK', 'BQN', 'PSE', 'GCC', 'RKS',
       'MKG', 'DLG', 'AKN', 'LWB', 'ACK', 'WYS', 'BJI', 'INL', 'GST',
       'PUB', 'LMT', 'OTH', 'ITH', 'HTS', 'PIR'], dtype=object)

In [102]:
import random
import pprint

airports = map(lambda x: (x, "#%06x" % random.randint(0, 0xFFFFFF)), airports)

with open('airliners.csv', 'w') as a:
    a.write("name,color\n")
    count = 0
    for i in airports:
        a.write("{}, {}\n".format(i[0], i[1]))
        count += 1
        
len(airports)

303

In [103]:
from pandas import *

matrix = []
for o in airports:
    ll = []
    for d in airports:
        dl = orig_dest_delay[(orig_dest_delay.Origin == o[0]) & (orig_dest_delay.Dest == d[0])]['delays']
        if dl.any():
            ll = ll + [dl.mean()]
        else:
            ll = ll + [0]
    matrix = matrix + [ll]
    
DataFrame(matrix)

,0,1,2,3,4,5,6,7,8,9,...,293,294,295,296,297,298,299,300,301,302
0,0.000000,0.000000,0.000000,0.000000,100.976568,73.314360,74.923381,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
1,0.000000,0.000000,0.000000,0.000000,85.008041,51.962465,65.027388,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
2,0.000000,0.000000,0.000000,0.000000,0.000000,35.371245,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
4,109.323704,38.912276,0.000000,0.000000,0.000000,72.791585,147.333333,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
5,65.933374,67.827945,74.024908,0.000000,82.910477,0.000000,64.436456,54.481939,48.283333,58.309085,...,0,0,0,0,0,0.000000,0.000000,0,0,0
6,76.067461,53.691641,0.000000,0.000000,46.500000,66.314946,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
7,0.000000,0.000000,0.000000,0.000000,0.000000,64.282808,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
8,0.000000,0.000000,0.000000,0.000000,0.000000,62.308199,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
9,0.000000,0.000000,0.000000,0.000000,0.000000,66.319499,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
10,124.904776,72.845787,0.000000,0.000000,56.058770,63.061591,50.484809,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
11,75.804618,74.283072,61.103857,58.728391,55.500000,48.053943,70.922074,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
12,82.335896,77.723273,69.250392,109.998368,0.000000,70.151741,61.476160,0.000000,86.419306,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
13,98.583073,0.000000,0.000000,0.000000,0.000000,45.871218,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
14,80.225460,0.000000,0.000000,0.000000,61.307516,56.371780,55.244188,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
15,69.880955,0.000000,0.000000,0.000000,0.000000,59.819023,58.601055,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
16,79.600000,0.000000,0.000000,0.000000,0.000000,56.999041,55.646751,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
17,0.000000,0.000000,0.000000,0.000000,0.000000,51.657889,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
18,0.000000,0.000000,0.000000,0.000000,0.000000,57.907261,97.454545,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
19,124.300838,0.000000,0.000000,0.000000,58.933584,55.799739,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
20,61.095238,0.000000,78.384151,0.000000,0.000000,38.584677,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
21,63.990724,0.000000,0.000000,0.000000,0.000000,64.814714,56.563156,0.000000,0.000000,0.000000,...,0,0,0,0,0,73.660943,65.884683,0,0,0
22,115.441746,85.438152,0.000000,0.000000,82.201444,81.456256,84.416337,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
23,44.578403,55.526791,0.000000,0.000000,0.000000,65.668556,59.185998,0.000000,92.421961,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
24,114.357927,0.000000,0.000000,0.000000,0.000000,52.271394,74.161856,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
25,114.358127,0.000000,0.000000,0.000000,0.000000,34.289807,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
26,86.896653,67.272575,0.000000,0.000000,81.071065,61.383333,47.166667,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
27,0.000000,0.000000,0.000000,0.000000,0.000000,62.975424,63.936132,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
28,48.785714,56.979930,80.599853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
29,68.491158,0.000000,0.000000,0.000000,0.000000,64.401470,50.087614,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
274,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
275,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
276,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
278,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
279,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
281,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
282,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
283,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
284,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
285,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
287,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
288,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
289,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
290,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
291,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
292,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
293,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
294,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
295,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
296,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
297,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
298,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
299,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
301,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0
302,0.000000,0.000000,0.000000,0.000000,226.500000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0.000000,0.000000,0,0,0

In [15]:
import pandasql

dow_sql = """
    select Distance, avg(DepDelay) as DepDelay, 
            avg(ArrDelay) as ArrDelay, avg(LateAircraftDelay) as LateAircraftDelay, 
            avg(NASDelay) as NASDelay, avg(WeatherDelay) as WeatherDelay, 
            avg(CarrierDelay) as CarrierDelay, avg(Cancelled) as Cancelled
    from df
    group by Distance
    """

dow_delay = pandasql.sqldf(dow_sql.lower(), locals())

dow_delay

,Distance,depdelay,arrdelay,lateaircraftdelay,nasdelay,weatherdelay,carrierdelay,cancelled
0,11,106.000000,100.000000,0.000000,0.000000,0.000000,100.000000,0.000000
1,17,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
2,21,-12.000000,-13.000000,NaN,NaN,NaN,NaN,0.500000
3,24,55.666667,62.000000,8.000000,9.000000,0.000000,45.000000,0.000000
4,28,-4.000000,NaN,NaN,NaN,NaN,NaN,0.000000
5,30,15.000000,35.750000,7.000000,36.666667,0.000000,0.000000,0.200000
6,31,11.243205,6.983918,44.500000,3.875000,2.981250,7.762500,0.038514
7,33,1.000000,1.000000,NaN,NaN,NaN,NaN,0.000000
8,35,20.500000,14.000000,0.000000,19.000000,20.000000,0.000000,0.000000
9,36,15.793103,17.827586,19.190476,11.000000,5.047619,19.428571,0.107692
10,37,27.000000,74.000000,0.000000,47.000000,27.000000,0.000000,0.000000
11,40,44.000000,41.500000,0.000000,0.000000,120.000000,0.000000,0.000000
12,41,12.258216,11.431925,25.482759,4.224138,5.103448,9.793103,0.018433
13,45,36.250000,40.250000,0.000000,51.000000,0.000000,0.000000,0.000000
14,47,18.454545,23.045455,28.842105,6.263158,0.000000,16.842105,0.083333
15,49,0.120189,-1.825147,17.973913,4.182609,2.173913,20.034783,0.015474
16,50,-2.000000,19.000000,19.000000,0.000000,0.000000,0.000000,0.000000
17,54,6.000000,32.000000,0.000000,26.000000,0.000000,6.000000,0.000000
18,55,4.000000,-4.000000,0.000000,41.000000,0.000000,0.000000,0.000000
19,56,3.922598,4.255290,16.683036,12.363095,2.235119,20.171131,0.018071
20,58,-1.261654,-2.478195,18.130435,1.942029,1.840580,21.130435,0.005979
21,60,101.000000,NaN,NaN,NaN,NaN,NaN,0.000000
22,64,5.929372,5.998318,2.933099,13.183099,10.461268,34.042254,0.008889
23,65,0.666667,25.500000,40.000000,0.000000,0.000000,0.000000,0.000000
24,66,41.750000,4.000000,NaN,NaN,NaN,NaN,0.000000
25,67,14.305447,14.444601,28.963422,27.765192,2.666077,12.079646,0.078618
26,68,8.966527,6.034868,36.449664,4.134228,0.409396,9.657718,0.008299
27,70,6.418581,4.893071,6.149068,10.192547,8.714286,28.289855,0.020555
28,71,21.880952,22.710526,28.952381,1.714286,0.000000,10.000000,0.023256
29,72,5.962641,5.975453,23.611930,8.373995,2.983244,19.220509,0.013243
...,...,...,...,...,...,...,...,...
1405,2724,6.777473,4.245856,8.375796,16.694268,1.019108,20.732484,0.005464
1406,2762,8.153110,13.578694,12.417553,0.819149,0.308511,50.973404,0.000683
1407,2777,9.352442,-8.010661,12.602564,11.269231,2.064103,24.910256,0.002119
1408,2797,1.301887,-17.113208,25.500000,4.250000,0.000000,9.500000,0.018519
1409,2845,12.953368,7.096271,13.729358,9.444954,0.000000,52.504587,0.011945
1410,2846,14.446847,8.839819,30.087613,13.410876,1.495468,9.987915,0.010695
1411,2860,6.725881,2.630031,4.419118,10.845588,0.000000,33.154412,0.012121
1412,2917,15.275634,10.460773,18.172500,5.180000,0.600000,57.997500,0.007659
1413,2936,2.805395,3.344961,13.894737,16.315789,2.039474,21.486842,0.005747
1414,2979,8.007207,2.481884,10.813187,11.307692,0.000000,41.736264,0.008929
1415,2986,12.515625,13.392670,5.272727,16.075758,1.227273,24.787879,0.000000
1416,2994,6.518569,3.633103,20.486486,10.855856,2.225225,25.594595,0.006831
1417,3043,19.435644,18.828383,14.887931,9.603448,1.163793,25.568966,0.009804
1418,3110,14.083333,22.597765,19.863636,22.295455,0.295455,9.568182,0.000000
1419,3266,19.970944,15.547558,24.817391,9.365217,12.965217,11.965217,0.000000
1420,3303,14.399381,8.282132,19.364865,10.878378,7.054054,29.391892,0.009202
1421,3329,18.411111,14.443182,15.250000,12.607143,0.000000,28.678571,0.000000
1422,3365,7.308743,2.203830,7.209790,18.531469,1.153846,24.937063,0.001364
1423,3386,10.187500,9.672474,11.228261,11.413043,0.739130,14.793478,0.000000
1424,3414,15.000000,8.611765,18.454545,13.272727,2.454545,18.454545,0.033333
1425,3417,22.724891,16.698690,32.376812,11.942029,1.347826,22.217391,0.004348
1426,3711,11.891632,8.005525,17.442748,18.305344,2.931298,43.290076,0.004098
1427,3784,12.366188,9.257576,24.878419,11.218845,1.246201,26.325228,0.002049
1428,3904,12.745872,11.191092,13.670807,11.621118,1.608696,28.440994,0.007835
1429,3972,11.047814,8.301783,13.006993,15.475524,0.545455,48.104895,0.000000
1430,4184,11.472727,5.520548,0.978723,15.425532,9.425532,28.978723,0.004525
1431,4213,5.447489,3.931507,29.071429,13.404762,0.000000,14.476190,0.009050
1432,4243,7.930305,5.044953,5.830325,18.729242,4.140794,24.194946,0.003900
1433,4502,13.476003,10.668254,18.596215,12.753943,0.646688,25.094637,0.002355
1434,4962,15.417127,13.502778,19.579208,16.173267,2.747525,20.039604,0.000000

In [92]:
df['CancellationCode'] = df['CancellationCode'].fillna('E')
np.sort(df['CancellationCode'].unique())

array(['A', 'B', 'C', 'D', 'E'], dtype=object)

In [93]:
c = df[df.Cancelled == 1][['Month','UniqueCarrier', 'Distance', 'Cancelled', 'CancellationCode']]
print len(c)
c.head()

137434

         Month UniqueCarrier  Distance  Cancelled CancellationCode
403843  Jan-08            MQ       174          1                B
403837  Jan-08            MQ       223          1                C
403828  Jan-08            MQ       223          1                C
403835  Jan-08            MQ       223          1                C
403886  Jan-08            MQ       473          1                C

In [126]:
dow_sql = """
    select Month, UniqueCarrier, avg(Distance) as Distance, SUM(Cancelled) as Cancelled, CancellationCode
    from c
    group by Month, UniqueCarrier, CancellationCode
    """

d = pandasql.sqldf(dow_sql, locals())


print len(d)
d.head()

640

    Month UniqueCarrier    Distance  Cancelled CancellationCode
0  Apr-08            9E  479.567775        391                A
1  Apr-08            9E  465.152542         59                B
2  Apr-08            9E  443.968750         64                C
3  Apr-08            AA  900.115530       3696                A
4  Apr-08            AA  781.068702        131                B

In [127]:
d['CancellationCode'] = d['CancellationCode'].apply(lambda x: "Carrier Delay" if x == 'A' else x)
d['CancellationCode'] = d['CancellationCode'].apply(lambda x: "Weather Delay" if x == 'B' else x)
d['CancellationCode'] = d['CancellationCode'].apply(lambda x: "National Airspace System Delay" if x == 'C' else x)
d['CancellationCode'] = d['CancellationCode'].apply(lambda x: "Security Delay" if x == 'D' else x)

dic = dfa[['code', 'flight']].set_index('code').to_dict()
d['UniqueCarrier'] = d['UniqueCarrier'].apply(lambda x: dic['flight'][x])

#A = carrier, B = weather, C = NAS, D = security
d.head()

,Month,UniqueCarrier,Distance,Cancelled,CancellationCode
0,Apr-08,Pinnacle Airlines,479.567775,391,Carrier Delay
1,Apr-08,Pinnacle Airlines,465.152542,59,Weather Delay
2,Apr-08,Pinnacle Airlines,443.968750,64,National Airspace System Delay
3,Apr-08,American Airlines,900.115530,3696,Carrier Delay
4,Apr-08,American Airlines,781.068702,131,Weather Delay

In [128]:
d.to_csv('data/2008cancelled.csv')